<div class="footer">
    <div class="footer__moon">
        <%= image_tag('moon.png', class: 'footer__moon-picture') %>
    </div>

    <div class="footer__stats">
        <%= pluralize(registered_users.length, 'astronaut') %> hodling to the moon
    </div>

    <div class="footer__email">
        For any suggestions, questions, support, feel free to reach us at <a target="_blank" href="mailto:contact.moonbeat@gmail.com">contact.moonbeat@gmail.com</a> or join us on <a target="_blank" href="https://www.reddit.com/r/Moonbeat/">reddit</a>.
    </div>
</div>
